.tg  {border-collapse:collapse;border-spacing:0;}
.tg .td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-0zet{font-weight:bold;background-color:#ffce93;vertical-align:top}
.tg .tg-a080{background-color:#9aff99;vertical-align:top}
.tg .tg-hxtd{background-color:#96fffb;vertical-align:top}